<section class="container">
  <form class="formulario" (ngSubmit)="transfer()">

    <h2 class="formulario__titulo">New Transfer</h2>

    <div class="form-field">
      <label class="form-field__label" for="value">Value</label>
      <input class="form-field__input" id="value" type="number" name="value" [(ngModel)]="value"/>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destiny">Destiny</label>
      <input class="form-field__input" id="destiny" type="text" name="destiny" [(ngModel)]="destiny">
    </div>

    <div class="botao-wrapper">
      <button class="botao" type="submit">Transfer</button>
    </div>

  </form>
</section>
