<section class="container">
  <h2 class="titulo">Transferences Registered</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Date</th>
      <th class="tabela__cabecalho__conteudo">Value</th>
      <th class="tabela__cabecalho__conteudo">Destiny</th>
    </thead>
    <tbody *ngIf="transferences?.length > 0 else emptyTransferences">
      <tr class="tabela__linha" *ngFor="let item of transferences">
        <td>{{item?.date | date: "short"}}</td>
        <td>{{item?.value | currency }}</td>
        <td>{{item?.destiny}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #emptyTransferences>
    <p>None transferences registered</p>
  </ng-template>
</section>
